<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('https://kitt.lewagon.com/placeholder/cities/london'); height: 50vh; background-position: center;">
</div>

<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="show-card">
        <h4><%= @flat.name %></h4>
        <h4><%= @flat.address %></h4>
      </div>
      <div class="show-card">
        <h5>A bit more about this place</h5>
        <p><%= @flat.description %></p>
      </div>
    </div>
    <div class="col-4">
      <div class="show-card">
        <h5>Book this place</h5>
      </div>
    </div>
  </div>
</div>
