<nav class="custom-nav">
  <h1 class="simple-header"><%= link_to "Simple Airbnb", flats_path %></h1>
  <div class="custom-nav">
    <button class= "btn btn-outline-primary my-2 my-sm-0"><%= link_to 'Add Flat', new_flat_path %></button>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

